.footer_all {
	height: 20em;
	/* 可以改动 */
	width: 100%;
	background-color: black;
	margin-top: -10px;
}

.footer_bottom {
	height: 10%;
	width: 100%;
	text-align: center;
	background-color: ;
	line-height: 200%;
	color: #C9BB8C;
}

.footer_top {
	width: 100%;
	height: 90%;
	background-color: ;
	overflow: auto;
	color: #C9BB8C;
}

.footer_left {
	background-color: ;
	width: 50%;
	height: 100%;
	float: left;
	overflow: hidden;
	color: #C9BB8C;
}

.footer_right {
	background-color: ;
	width: 50%;
	float: left;
	height: 100%;
	overflow: hidden;
	color: #C9BB8C;
}

.footer_title1 {
	font-size: 2em;
	display: block;
	width: 100%;
	height: 3em;
	line-height: 2.5em;
	padding-left: 2em;
	color: #C9BB8C;
}

.foooter_a {
	text-decoration: none;
	color: black;
	font-family: "黑体";
	font-size: 1.5em;
	padding-left: 250px;
	line-height: 2.2em;
	color: #C9BB8C;
}